body
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../srcimg/background.jpg");
    background-repeat: none;
}

button:link {
    color:white;

}

a:link
{
  color:white;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; 
}

nav li {
    float: left;
    border-right:1px solid #bbb;
    list-style-type: none;
    padding: 0;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

form header {
  background: rgba(2, 162, 252, 1);
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: rgba(2, 162, 252, 1);
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {

  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}
button {
 /* padding: 5px 20px; */

  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

form a {
    -webkit-appearance:form button;
    -moz-appearance: button;
    position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background:#FF3838;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

form button:hover {
  background: #ff5252;
}

#footer 
{
    clear: both;
    position: absolute;
    z-index: 10;
    height: 3em;
    top: 0;
    margin-top: -3em;
}